img {
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 30px;
}


:root {
    /* default value, will override on #container */
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
#container {
  display: grid;
  gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  justify-content:center;
  max-width: 95%;
  max-height: 80vh;
  margin-left: 10%;
  margin-right: 10%;
}


.grid-item {
  padding: 0.1em;
  font-size: 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;  
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-family: "Jua", "sans-serif";
  color: #B56B8C;
  font-size: 60px;
  margin-top:10px;
  margin-bottom: 10px;
}
fieldset {
  font-family: "Jua";
  font-size: 16px;
  height:60px;
}
p {
  font-family: "Jua";
  font-size: 16px;
}

h3 {
  font-family: "Jua";
  font-size: 16px;
  font-weight: 100;
}

/*heading bar rules*/
.heading-parent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.heading-title {
  padding-top: 0;
  padding-right: 10px;
  border-right: solid gray 2px;
  margin:auto;
}

.heading-rules {
  margin:10px;
}

/*info bar rules*/
.info-bar{
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-bottom: 10px;
  vertical-align: center;
}

#gameButton {
  width: 140px;
  height: 50px;
  font-size: 20px;
  font-family: "Jua";
  color: white;
  background-color: #B56B8C;
  margin-top: auto;
  margin-bottom: auto;
}


#match_counter {
  background-color: #28914B;
  padding: 20px;
  border-radius: 10px;
  color: white;
  letter-spacing: 1px;
}

#game_timer {
  background-color: #89ADDD;
  padding: 20px;
  border-radius: 10px;
  color: white;
  letter-spacing: 1px;
}

.memory-grid {
  display: flex;
}


#announcement {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.info-bar h3 {
  display:none;
}